<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colin's Test Site</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Colin is playing</h1>
		<p>how does this link work?<a href="http://saucelabs.com">Sauce Labs</a></p>
		<a href="http://49ers.com" class="btn btn-primary btn-lg">49ers</a>
	</div>
	<div class="jumbotron">
		<h1>jQuery Learning</h1>
		<p>TO THE jQUERIES</p>
		<a href="/jquery" class="btn btn-primary btn-lg">Take Me Home</a>
	</div>
</div>
	
</body>
</html>
